<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pack.jv.autocall">

    <uses-permission	android:name="android.permission.NFC"/> //Permissão NFC
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> //Permissão CSV

    <uses-feature	android:name="android.hardware.nfc"		android:required="true"	/> //NFC Google Play

    <application
        android:allowBackup="true"
        android:icon="@drawable/launchericon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GerenciarActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ChamadaActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".NotaActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".AnalisesActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>